{#
/**
 * @file
 * Onepage Template's Clients Section.
 *
#}

<!-- CLIENTS STARTS
   ========================================================================= -->
<section id="clients">
    <div class="clients">
        <div class="items animated" data-animation="tada" data-animation-delay="0"><img src="{{ directory }}/images/clients/1.png" alt=""></div>
        <div class="items animated" data-animation="tada" data-animation-delay="100"><img src="{{ directory }}/images/clients/2.png" alt=""></div>
        <div class="items animated" data-animation="tada" data-animation-delay="200"><img src="{{ directory }}/images/clients/3.png" alt=""></div>
        <div class="items animated" data-animation="tada" data-animation-delay="300"><img src="{{ directory }}/images/clients/4.png" alt=""></div>
        <div class="items animated" data-animation="tada" data-animation-delay="400"><img src="{{ directory }}/images/clients/5.png" alt=""></div>
        <div class="items animated" data-animation="tada" data-animation-delay="500"><img src="{{ directory }}/images/clients/6.png" alt=""></div>
        <div class="items animated" data-animation="tada" data-animation-delay="600"><img src="{{ directory }}/images/clients/7.png" alt=""></div>
        <div class="items animated" data-animation="tada" data-animation-delay="700"><img src="{{ directory }}/images/clients/8.png" alt=""></div>
        <div class="items animated" data-animation="tada" data-animation-delay="800"><img src="{{ directory }}/images/clients/9.png" alt=""></div>
    </div>
</section>
<!-- /.CLIENTS -->