{#
/**
 * @file
 * Onepage Template's Team Us Section.
 *
#}


<!-- TEAM STARTS
   ========================================================================= -->
<section id="team">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading animated" style="text-align:center" data-animation="fadeInUp" data-animation-delay="0">
                <h2>OUR TEAM</h2>
                <h1>meet the team</h1>
                <p class="line">&nbsp;</p>
            </div>
        </div>
        <!-- Our Team 1 Starts -->
        <div class="owl-carousel" id="our-team">
            <div class="team-contents animated" data-animation="flipInX" data-animation-delay="200">
                <div class="picture"><a href="#" class="teamoverlayzoom"><img src="{{ directory }}/images/team/1.jpg" class="img-responsive" alt=""><span class="zoom"><span><i class="fa fa-briefcase"></i></span></span> </a> </div>
                <div class="heading">JOHN DOE</div>
                <div class="designation">CEO</div>
                <p class="smallline">&nbsp;</p>
                <div class="description">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor.</div>
                <div class="team-social"><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-google-plus"></i></a></div>
            </div>
            <div class="team-contents animated" data-animation="flipInX" data-animation-delay="400">
                <div class="picture"><a href="#" class="teamoverlayzoom"><img src="{{ directory }}/images/team/2.jpg" class="img-responsive" alt=""><span class="zoom"><span><i class="fa fa-heart"></i></span></span> </a> </div>
                <div class="heading">JESSICA DOE</div>
                <div class="designation">GRAPHIC DESIGNER</div>
                <p class="smallline">&nbsp;</p>
                <div class="description">Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. <br>
                    Nam dui mi, tincidunt quis.
                </div>
                <div class="team-social"><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-google-plus"></i></a></div>
            </div>
            <div class="team-contents animated" data-animation="flipInX" data-animation-delay="600">
                <div class="picture"><a href="#" class="teamoverlayzoom"><img src="{{ directory }}/images/team/3.jpg" class="img-responsive" alt=""><span class="zoom"><span><i class="fa fa-code"></i></span></span> </a> </div>
                <div class="heading">JOHN SMITH</div>
                <div class="designation">WEB DEVELOPER</div>
                <p class="smallline">&nbsp;</p>
                <div class="description">Tristique senectus et netus et malesuada fames ac turpis egestas. Ultricies eget, tempor sit amet, ante. </div>
                <div class="team-social"><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-google-plus"></i></a></div>
            </div>
            <div class="team-contents animated" data-animation="flipInX" data-animation-delay="800">
                <div class="picture"><a href="#" class="teamoverlayzoom"><img src="{{ directory }}/images/team/4.jpg" class="img-responsive" alt=""><span class="zoom"><span><i class="fa fa-pagelines"></i></span></span> </a> </div>
                <div class="heading">JANE DOE</div>
                <div class="designation">ILLUSTRATION</div>
                <p class="smallline">&nbsp;</p>
                <div class="description">Malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. </div>
                <div class="team-social"><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-google-plus"></i></a></div>
            </div>
            <div class="team-contents animated" data-animation="flipInX" data-animation-delay="1000">
                <div class="picture"><a href="#" class="teamoverlayzoom"><img src="{{ directory }}/images/team/5.jpg" class="img-responsive" alt=""><span class="zoom"><span><i class="fa fa-code"></i></span></span> </a> </div>
                <div class="heading">JOHN SMITH</div>
                <div class="designation">WEB DEVELOPER</div>
                <p class="smallline">&nbsp;</p>
                <div class="description">Tristique senectus et netus et malesuada fames ac turpis egestas. Ultricies eget, tempor sit amet, ante. </div>
                <div class="team-social"><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-google-plus"></i></a></div>
            </div>
            <div class="team-contents animated" data-animation="flipInX" data-animation-delay="1200">
                <div class="picture"><a href="#" class="teamoverlayzoom"><img src="{{ directory }}/images/team/6.jpg" class="img-responsive" alt=""><span class="zoom"><span><i class="fa fa-pagelines"></i></span></span> </a> </div>
                <div class="heading">JANE DOE</div>
                <div class="designation">ILLUSTRATION</div>
                <p class="smallline">&nbsp;</p>
                <div class="description">Malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. </div>
                <div class="team-social"><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-google-plus"></i></a></div>
            </div>
        </div>
        <!-- Our Team 1 Ends -->
    </div>
</section>
<!-- /.TEAM -->